:where(.markdan-editor) {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: var(--line-height, 24px);
  font-size: var(--font-size, 16px);
  font-family: var(--font-family, "Courier New", Menlo, Monaco, monospace, Menlo, Monaco, "Courier New", monospace);
  font-feature-settings: "liga" 0, "calt" 0;
  font-variation-settings: normal;
  font-weight: normal;
  letter-spacing: 0;
  user-select: none;
  color: var(--color-primary);
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-layer);
  overflow: hidden;

  --gap: 20px;
  --gap-sm: 8px;
  --radius: 4px;

  --color-brand: #0088ff;
  --color-bg: #fff;
  --color-bg-layer: #f8f8f8;
  --color-primary: #24292e;
  --color-secondary: #666;
  --color-border: hsla(0, 0%, 75%, 0.3);
  --color-cursor: #2d2e30;
  --color-selection: hsla(0, 0%, 44%, 0.2);
  --color-scrollbar-track: hsla(0, 0%, 88%, 0.3);
  --color-scrollbar-slider: var(--color-border);
  --color-scrollbar-slider-active: hsla(0, 0%, 66%, 0.6);

  &.dark {
    --color-brand: #0088ff;
    --color-bg: #272822;
    --color-primary: #ecedee;
    --color-secondary: #90908a;
    --color-border: hsla(0, 0%, 80%, 0.3);
    --color-cursor: #f5f4f4;
    --color-selection: hsla(0, 0%, 100%, 0.2);
    --color-scrollbar-slider: var(--color-border);
    --color-scrollbar-slider-active: hsla(0, 0%, 80%, 0.6);
  }

  .markdan-editor-toolbar {
    display: none;
    padding: var(--gap-sm);
    border-bottom: 1px solid var(--color-border);
  }

  .markdan-editor-main {
    display: flex;
    flex: 1;
    min-height: 0;
    background-color: var(--color-bg);
    overflow: hidden;
  }

  .markdan-editor-footer {
    display: none;
    padding: 0 var(--gap-sm);
    line-height: var(--line-height);
    font-size: 12px;
    text-align: right;
    border-top: 1px solid var(--color-border);
  }
}

:where(.markdan-editor-container) {
  flex: 1;
  position: relative;
  width: var(--width, 100%);
  height: var(--height, 100%);
  min-width: 0;
  user-select: none;
  overflow: hidden;
}

:where(.markdan-editor-viewer) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  padding-right: 16px;
  cursor: text;

  .view-line {
    position: absolute;
    width: max-content;

    &:empty::after,
    :empty::after {
      content: '\200B'
    }
  }

  * {
    margin: 0;
  }
}

:where(.markdan-editor-cursor) {
  position: absolute;
  z-index: 9;
  width: 2px;
  height: var(--line-height);
  background-color: var(--color-cursor);
  opacity: 1;
  animation: mdOpacityAni linear 1.2s infinite;
}

:where(.markdan-editor-range) {
  position: absolute;
  height: var(--line-height);
  background-color: var(--color-selection);
  border-radius: 2px;
}

:where(.markdan-editor-scrollbar) {
  position: absolute;
  z-index: 11;

  .track {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
  }

  &:hover {
    .track {
      background-color: var(--color-scrollbar-track);
    }

    &.vertical {
      .track {
        border-left: 1px solid var(--color-scrollbar-slider);
      }
    }

    &.horizontal {
      .track {
        border-top: 1px solid var(--color-scrollbar-slider);
      }
    }
  }

  .slider {
    position: absolute;
    background-color: var(--color-scrollbar-slider);
    cursor: pointer;

    &:hover {
      background-color: var(--color-scrollbar-slider-active);
    }
  }

  &.vertical {
    right: 0;
    top: 0;
    width: var(--size);
    height: 100%;

    .slider {
      right: 0;
      width: 100%;
    }
  }

  &.horizontal {
    right: var(--size);
    bottom: 0;
    height: var(--size);

    .slider {
      bottom: 0;
      height: 100%;
    }
  }
}

:where(:has(> .markdan-editor-line-number)) {
  position: relative;
  z-index: 12;
  background-color: var(--color-bg);
}

:where(.markdan-editor-line-number) {
  height: 100%;
  padding: 0 16px;

  .wrapper {
    position: relative;
    min-width: 3ch;
    height: 100%;

    > span {
      display: block;
      position: absolute;
      right: 0;
      text-align: right;
      font-size: var(--font-size);
      color: var(--color-secondary);

      &.active {
        position: relative;
        color: var(--color-primary);

        &::after {
          content: '';
          position: absolute;
          right: -8px;
          top: 50%;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: var(--color-brand);
          transform: translateY(-50%);
        }
      }
    }
  }
}

@keyframes mdOpacityAni {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
